.form
	&-group
		position relative
		padding 1em 0 .5em
		box-sizing border-box

		&:before
		&:after
			content ""
			height 1px
			position absolute
			bottom 4px
			left 0
			right 0
			background lighten(colorBackground, 20%)

		&:after
			background colorHighlight
			transform(scaleX(0))
			transition transform .3s

		&--label .form-label
			transform(translateY(0) scale(.75))

		&--focus
			.form-label
				color colorHighlight

			&:after
				transform(scaleX(1))

	&-label
		position relative
		margin 0
		display block
		color darken(colorText, 10%)
		line-height 1
		transform(translateY(1.5em))
		transition transform .3s, color .3s
		transform-origin 0 50%

	&-input
		position relative
		display block
		margin 0
		width 100%
		padding .5em 0
		line-height 1em
		box-shadow none